body {
    text-align: center;
    background: url('../images/background.jpg');
}

.time {
	width: 15%;
	margin: 20px auto;
	font-size: 30px;
	font-weight: 700;
	font-family: 'Roboto Mono', monospace;
	color: #b30000;
	background-color: #BDBDBD;
	text-align: center;
	border-radius: 5px;
}

.modal-body {
	font-size: 16px;
}

.modal-footer {
	margin: 0 auto;
	text-align: center;
}